* {
    box-sizing: border-box;
}

body {
    background-color: #292530;
    color: #fbf8e8;
    font-family: sans-serif;
}

/* ---------------------------
 * main
 * --------------------------- */

main p, main ul, aside ul {
    font-size: larger;
    line-height: 1.25em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ol {
    color: #fbf1c7;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

ol h4 {
    margin-bottom: 0.5em;
}

ol p {
    color: #fbf8e8;
    margin: 0;
}

main a, aside a {
    color: #88d0c6;
}

main a:visited, aside a:visited {
    color: #9dce4d;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h2, h3 {
    color: #fbf1c7;
    text-align: center;
}

h3 {
    margin-top: 1.25em;
}

h4 {
    color: #fbf1c7;
}

/* ---------------------------
 * header and nav
 * --------------------------- */

.top {
    background-color: #362a48;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    background-color: #362a48;
    color: #fbf1c7;
    margin: 0;
    padding: 0.3em 0.5em;
    text-align: center;
}

.skip-nav {
    color: #554966;
    text-align: center;
    text-decoration: none;
}

.skip-nav:hover {
    text-decoration: underline;
}

/* menu button */

.menu-button {
    padding-right: 1em;
}

.menu-button img {
    width: 25px;
}

/* general navbar formatting */

.navbar {
    align-items: center;
    background-color: #362a48;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: larger;
    width: 100%;
}

.navbar-links {
    display: none;
    width: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 100%;
}

.navbar-links li {
    list-style: none;
    text-align: center;
}

.navbar-links li:hover {
    background-color: #473b57;
}

.navbar-links a {
    color: #fbf1c7;
    display: block;
    text-decoration: none;
    width: 100%;
}

.navbar-links.active {
    display: flex;
}

/* dropdown menus */

.word-links.active, .ppt-links.active, .pdf-links.active, .video-links.active, .other-links.active {
    display: flex;
    flex-direction: column;
}

.word-button.active, .ppt-button.active, .pdf-button.active, .video-button.active, .other-button.active {
    background-color: #473b57;
}

.dropdown-content {
    display: none;
    font-size: smaller;
}

.dropdown-content a {
    padding: 0.4em 0;
}

.home, .word-button, .ppt-button, .pdf-button, .video-button, .other-button {
    padding: .6em 0em;
}

.dropdown-content a:hover {
    background-color: #554966;
}

/* anchor navigation */

.anchors {
    margin-left: auto;
    margin-right: auto;
    width: 85%
}

.anchors ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.anchors li {
    padding: 0.25em 0.5em;
}

.anchors a {
    color: #88d0c6;
    text-decoration: none;
}

.anchors a:hover {
    text-decoration: underline;
}

/* ---------------------------
 * footer
 * --------------------------- */

hr.footer {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 0.75em;
}

footer a {
    padding-right: 1em;
}

footer p {
    padding-left: 1em;
}

/* ---------------------------
 * full-size site
 * --------------------------- */

@media (min-width: 900px) {
    .top {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    main {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
    }

    .menu-button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    h1 {
        vertical-align: middle;
        padding: 0.3em 0.5em 0em;
    }

    .skip-nav {
        float: right;
    }

    .navbar-links {
        display: block;
    }

    .navbar-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar-links li {
        padding: 0 1em;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #473b57;
        z-index: 1;
    }

    .dropdown-content a {
        padding: 0.5em 1em;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    h2 {
        margin-left: 2em;
        text-align: left;
    }

    h3 {
        margin-left: 3.5em;
        text-align:left
    }
}
