.imglist {
    font-size: initial;
}

li.bank {
    padding: 0.25rem 0;
}

.vert-bank {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-image {
    margin: 0;
    padding-top: 1rem;
}

.centered-image p {
    margin: 0;
}

.centered-image img {
    width: 100%;
}

@media (min-width: 1088px) {
    .centered-image img {
        width: 925px;
    }
}
